@import url("./index.css");
@import url("./profile.css");
@import url("./request-info.css");
@import url("./specialist-found.css");
@import url("./payment-portal.css");

:root {
    --primary: #2563eb;
    --primary-light: #dbeafe;
    --primary-dark: #1e40af;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --bg-light: #f9fafb;
    --bg-white: #ffffff;
    --border-color: #e5e7eb;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-style: italic;
    color: var(--text-dark);
}

ul {
    text-decoration: none;
    list-style: none;
}

.logged-in-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    color: var(--text-dark);
}

.primary-button {
    font-size: .75rem;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: var(--bg-white);
    cursor: pointer;
}

.primary-button:hover {
    background-color: var(--primary-dark);
}

