

.logged-in-nav h1 {
    font-size: 3rem;
}

.logged-in-nav h1:hover {
    cursor: pointer;
}

.logged-in-nav span {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logged-in-nav svg {
    width: 1.5rem;
    height: 1.5rem;
}

.logged-in-nav select {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: 1px solid var(--border-color);
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    border-bottom: 5px solid var(--border-color);
    margin-bottom: 20px;
}

.profile-header img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-header span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.profile-header h2 {
    margin: 0;
    font-size: 2.5rem;
    color: var(--text-dark);
}

.profile-header a {
    padding: 10px 15px;
    background-color: var(--primary);
    color: var(--bg-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

.profile-header a:hover {
    background-color: var(--primary-dark);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 700px;
    background-color: var(--bg-light);
    box-shadow: var(--shadow-lg);
}

.profile-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-nav {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.profile-nav button {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--bg-white);
    color: var(--text-dark);
    cursor: pointer;
}

.profile-nav button:hover {
    background-color: var(--primary-light);
}

.orders-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    align-items: center;
    
}

.order {
    padding: .4rem .4rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: #f3f4f6;
    box-shadow: var(--shadow);
    color: var(--text-dark);
    border-radius: 5px;
}

.order select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: 1px solid var(--border-color);
}

.order button {
    background-color: var(--primary-dark);
    color: var(--bg-white);
    border: none;
    border-radius: 7px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    padding: 0.6rem 1.1rem;
    box-shadow: var(--shadow-lg);
    font-size: .8rem;
}

.name-and-score {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    align-items: center;
}

.specialist-interaction-buttons {
    display: flex;
    gap: 1rem;
}

.review-container {
    color: var(--text-dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.review {
    background-color: #f3f4f6;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 1rem;
}

.review-text {
    font-size: 1.2rem;
}

.reviewer-name {
    font-style: italic;
}

#review-dialog {
    padding: 20px;
    border: 1px solid #ccc;
}

#review-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#review-form {
    min-width: 400px;
    box-shadow: var(--shadow);
}

#review-form textarea,
#review-form select {
    width: 100%;
    padding: 5px;
}

#review-form button {
    padding: 8px 16px;
    margin-right: 10px;
}
