.sub-header {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.project-info {
    display: flex;
    justify-content: center;
    gap: 10rem;
}


.progress-dropdown {
    padding: 3px 9px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: 1px solid var(--border-color);
}

.project-description-sub-header {
    padding-left: 1.5rem;
    font-size: 1.5rem;
}
.project-description {
    padding-left: 1rem;
}

.cancel-job {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.cancel-job button {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ef4444;
    color: var(--bg-white);
    cursor: pointer;
}

.cancel-job button:hover {
    background-color: #b91c1c;
}

.message-box-label {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

#message-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    background-color: var(--bg-light);
    box-shadow: var(--shadow);
    overflow-y: scroll;
    max-height: 120px;
}

.received-message {
    border: 1px solid var(--border-color);
    background-color: var(--bg-white);
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 1rem;
    width: 17rem;
    align-self: start;
}

.sent-message {
    border: 1px solid var(--border-color);
    background-color: var(--bg-white);
    box-shadow: var(--shadow);
    padding: 1rem;
    width: 17rem;
    align-self: end;
    border-radius: 5px;
}

.send-message {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.send-message input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}
